/* protocol */
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap");
* {
  font-family: "Ubuntu", sans-serif;
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

*::before,
*::after {
  padding: 0;
  margin: 0;
}
* {
  user-select: none;
}
/* preloader */
.loader_bg {
  position: fixed;
  background: #fff url("forYouTube.svg") no-repeat center;
  z-index: 99999999;
  width: 100%;
  height: 100%;
}
/* declare variable */
:root {
  --pink: #105e9c;
  --violet: #861d92;
  --lightblack: #515c6f;
  --white: white;
  --darkwhite: #cecaca;
  --pinkshadow: #ffcbdd;
  --lightbshadow: rgba(0, 0, 0, 0.15);
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: url("back.svg") no-repeat center center/cover;
}
.box {
  position: absolute;
  width: 400px;
  overflow: hidden;
  background: var(--white);
  border-radius: 15px;
  padding: 25px 30px;
  box-shadow: 0px 6px 25px var(--lightbshadow);

  /* glassmorphisam */
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
.box i {
  cursor: pointer;
}
.top-bar,
.progress-area .timer,
.controls,
.music_list .header,
.music_list li {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.top-bar i {
  color: var(--lightblack);
  font-size: 30px;
}
.top-bar span {
  color: black;
  font-size: 18px;
}
.img-area {
  height: 256px;
  width: 100%;
  border-radius: 15px;
  margin: 10px 0;
  overflow: hidden;
  box-shadow: 0px 6px 12px var(--lightbshadow);
}
.img-area img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.8;
}
.song-details {
  text-align: center;
  margin: 20px 0;
}
.song-details .name {
  font-size: 21px;
}
.song-details .artist {
  font-size: 18px;
  opacity: 0.9;
  color: var(--lightblack);
}
.progress-area {
  height: 5px;
  width: 100%;
  background: #dce4e4;
  border-radius: 50px;
  cursor: pointer;
}
.progress-area .progress-bar {
  height: inherit;
  width: 0%;
  position: relative;
  border-radius: inherit;
  background: linear-gradient(90deg, var(--pink) 0%, var(--violet) 100%);
}
.progress-bar::before {
  content: "";
  position: absolute;
  height: 10px;
  width: 10px;
  background: inherit;
  border-radius: 50%;
  top: 50%;
  right: -5px;
  transform: translateY(-50%);
  opacity: 0;
  transition: opacity 0.2s ease;
}
.progress-area:hover .progress-bar::before {
  opacity: 1;
}
.progress-area .timer {
  margin-top: 2px;
}
.timer span {
  font-size: 12px;
  color: var(--lightblack);
}
.controls {
  margin: 40px 0 5px 0;
}
.controls i,
.container i {
  user-select: none;
  font-size: 25px;
  background: linear-gradient(90deg, var(--pink) 0%, var(--violet) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.controls i:nth-child(2),
.controls i:nth-child(4) {
  font-size: 40px;
}
.controls .play-pause {
  height: 50px;
  width: 50px;
  background: linear-gradient(#b9dedc 0%, var(--darkwhite) 100%);
  box-shadow: 0px 0px 5px var(--pink);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.play-pause::before {
  content: "";
  position: absolute;
  height: 40px;
  width: 40px;
  border-radius: inherit;
  background: linear-gradient(var(--pink) 0%, var(--violet) 100%);
}
.play-pause i {
  height: 40px;
  width: 40px;
  line-height: 40px;
  text-align: center;
  position: relative;
  border-radius: inherit;
  background-clip: text;
  background: inherit;
  position: relative;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.music_list {
  position: absolute;
  left: 0;
  bottom: -60%;
  opacity: 0;
  padding: 15px 30px;
  pointer-events: none;
  background: var(--white);
  border-radius: 15px;
  box-shadow: 0 -5px 10px rgba(0, 0, 0, 0.15);
  width: 100%;
  transition: all 0.15s ease-out;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
/* this one is for javascript */
.music_list.show {
  bottom: 0;
  opacity: 1;
  pointer-events: auto;
}
.music_list .header .row {
  display: flex;
  align-items: center;
  font-size: 15px;
  color: var(--lightblack);
}
.header .row i {
  cursor: default;
}
.header .row span {
  margin-left: 5px;
}
.header #close {
  color: var(--lightblack);
  font-size: 22px;
}
.music_list ul {
  margin: 10px 0;
  max-height: 260px;
  /* max-height: 486px; */
  overflow-y: auto;
}

.music_list ul::-webkit-scrollbar {
  width: 10px;
}
.music_list ul
{
    overflow: auto;
    scrollbar-width: none; 
}

.music_list ul li {
  list-style: none;
  border-bottom: 1px solid #e5e5e5;
  padding-bottom: 10px;
  margin-bottom: 10px;
  cursor: pointer;
  color: black;
}
.music_list ul li:last-child {
  border-bottom: 0px;
}
ul li .row p {
  opacity: 0.8;
}
ul li .audio-duration {
  font-size: 16px;
}
ul li.playing {
  color: var(--pink);
  pointer-events: none;
}
/* for phone */
@media only screen and (max-width: 450px) {
  .box {
    position: absolute;
    width: 100vw;
    height: 99vh;
    box-shadow: none;
  }
}

/* searchbar  */
input[type="text"] {
  width: 50%;
  text-align: center;
  padding: 6px 20px;
  box-sizing: border-box;
  border: none;
  border-bottom: 2px solid #acc7dc;
  outline: none;
  color: var(--pink);
  background: transparent;
}


 /* Volume control */
.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 12px;
}
#volume_mute {
  display: none;
}
#volume_down {
  display: none;
}
/* for chrome */
#volume {
  background: linear-gradient(to right, var(--pink) 0%, var(--violet) 50%, rgb(224, 222, 222) 50%);
  border-radius: 8px;
  height: 5px;
  width: 100px;
  outline: none;
  transition: background 450ms ease-in;
  -webkit-appearance: none;
}
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: none;
  height: 14px;
  width: 14px;
  border-radius: 50%;
  background: linear-gradient(90deg, var(--pink), var(--violet));

}
input[type="range"] {
  -webkit-appearance: none;
  cursor: pointer;
}

/* MOZILA */
input[type="range"]::-moz-range-thumb {
  border: none;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background: linear-gradient(45deg, var(--pink), var(--violet));
}